div{
  background-color: #fc6;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  width: 200px;
}
#uno{
  position: absolute;
  left: 100px;
  top: 50px;
  background-image: url(../imagenes/atenea160x196.jpg);
  height: 196px;
  background-repeat: no-repeat;
  background-size: cover;
}
#dos{
  position: absolute;
  left: 300px;
  top: 250px;
  background-image: url(../imagenes/afrodita160x196.jpg);
  height: 196px;
  background-repeat: no-repeat;
  background-size: cover;
}
#tres{
  position: absolute;
  left: 500px;
  top: 350px;
  background-image: url(../imagenes/poseidon160x196.jpg);
  height: 196px;
  background-repeat: no-repeat;
  background-size: cover;
}
#wrapper{
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}
